DB_HOST=*****
DB_NAME=***YOUR_DATABASE***
DB_PORT=***SERVER_PORT***
DB_USER=****
DB_PASS=****
DB_DRIVER=mysql

RABBITMQ_HOST=***RABBITMQ_SERVICE-HOST***
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_VHOST=/
RABBITMQ_QUEUE=***SERVICE_QUEUE****

JWT_SECRET=***Gere com: openssl rand -base64 32 ***